<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post Details</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-200 font-sans antialised">
    <!--Navbar-->
    <nav class="bg-blue-900 p-4 text-white flex justify-between">
        <div class="text-white text-3xl font-bold">
            <h1>AI blog generator</h1>
        </div>
        <div><a href="#" class="hover:underline">Logout</a></div>
    </nav>
    <div class="container mx-auto mt-10 px-4 sm:px-0"">
        <div class="max-w-3xl mx-auto bg-white p-6 border rounded-lg shadow-md">
            <section >
                <h2 class="text-xl mb-4 font-semibold text-blue-900">Blog Post Details</h2>
                <div class="p-4 border border-blue-300 p-4 rounded-lg hover:border-blue-900 transition duration-300 ease-in-out transform hover:scale-105">
                    <h3 class="text-lg font-semibold text-blue-900">Blog Post Title</h3>
                    <p class="text-gray-900">This is the content lorem</p>
                    <hr class="my-4 border-gray-300">
                    <h4 class="text-lg font-semibold text-blue-900">Youtube Title</h4>
                    <p class="text-gray-700">Title of associated youtube video</p>
                    <hr class="my-4 border-gray-300">
                    <h4 class="text-lg text-blue-900 font-semibold mt-4">Youtube Link</h4>
                    <a href="#" class="text-blue-400 hover:underline hover:text-blue-900">https://youtube.com</a>

                     
                </div>
            </section>

        </div>
    </div>
    <footer class="text-sm text-blue-900 p-4 text-center mt-10">
        <div class="text-blue-500">
            <h2>&copy; Powered by <a target="_blank" href="https://www.linkedin.com/in/chitikenamouli/"
                    class="font-semibold hover:text-blue-900 hover:underline">Mouli
                    Narayana Chitikena</a></h2>
        </div>
    </footer> 
</body>
</html>